/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* variable declaration */
:root{
    --primary:#e52165;
    --primary-light:#e5216686;
    --secondary: #0d1137;
    --secondary-light:#0d1241b4;
}

::selection{
     background-color: var(--primary);
     color : var(--secondary);
}

.fa-bars{
    color: white;
}
/* Remove Browser style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
}

/* common style */
.btn{
    color:black;
    display: inline-block;
    background-color:white;
    padding: 10px 18px;
    transition: 300ms;
    border: 2px solid whitesmoke;
    border-radius:30px;
    box-shadow: 10px 5px 21px 0px white;
    margin-top: 20px;
}

.btn:hover{
    transform: translateY(10px);
}
.btn1{
    position: relative;
    color:black;
    display: inline-block;
    background-color:orangered;
    padding: 10px 18px;
    transition: 300ms;
    border: 2px solid whitesmoke;
    border-radius:30px;
    box-shadow: 10px 5px 21px 0px white;
    left: 610px;
}

.btn1:hover{
    transform: translateY(10px);
}

.flex-design{
    display:flex;
    float: right;
    width: 100%;
    margin: auto;
    justify-content:space-between;
    align-items:center;
}

.flex-logo{
    display:flex;
    justify-content:right;
    align-items:center;
    padding: 10px 100px;
}


/* styles */

header{ width: 100%;
   min-height: 100vh;
   background: linear-gradient(to left,rgba(0, 0, 0, 0.432),rgba(0, 0, 0, 0.877)), url(img/Map-UI.png.webp);
   background-size:cover;
   background-position:left;
   position: relative;
}
.header-content{ 
    padding: 0 2rem;
    background-color: var(--secondary);
    height: 12vh;
}

.logo{
    height: 50px;
}

.nav-links{
    display: flex;
    float: right;
    width: 50%;
    /* justify-content: space-between; */
}

.nav-links a {
    color:white;
    float: right;
    background: orangered;
    border: 50px;
    padding: 10px;
    border-radius: 30px;
}


.text-center{
    color: white;
    position: absolute;
    display: flex;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    text-align: center;
    transition: all 300ms;
}


.text-center h1 {
    margin: 1.2rem 0;
}

.content{
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
}

.mb{
    margin-bottom: 3rem;
}

.mt{
    margin-top: 5rem;
}
.heading{
    text-align: center;
    margin-bottom: 2rem;
}
.baner{
    position:relative;
    width: 250px;
    top: 70px;
    right: 10px;
}
.baner1{
    position:absolute;
    margin-top: 80px;
    width: 230px;
    height: 490px;
    border-radius:30px;
}
.logo1{
    width: 50px;
    height: 50px;
}
.txt{
    position:relative;
    top: 180px;
}
.txt img{
    position: relative;
    right:210px;
    top: 50px;
}
.form{
    width:100%;
}
.form h1{
    text-align: center;
    color: orangered;
}
.form input{
    position: relative;
    width: 200px;
    height: 50px;
    left: 300px;
    margin: 20px;
    border-radius: 10px;
    background: whitesmoke;
    font-size: 20px;
    font-weight: 600;
}

.footer-bottom p{
    background-color: black;
    color: white;
    height: 20px;
    text-align: center;
}

/* media queries */

@media only screen and (max-width:840px){
    .students,.students:nth-child(even) {
        flex-direction: column;
    }
    
}

@media only screen and (max-width:762px){
    .footer-top-container{
        flex-direction: column;
    }
    .footer-links{
        margin-bottom: 1rem;
    }
    .footer-college{
        text-align:center;
    }
}


@media only screen and (max-width:920px){
    .fac:hover .fac-img{
        opacity: 0;
    }
}


@media only screen and (max-width:894px){
    .text-center{
        width: 100%;
    }
}

@media only screen and (max-width:858px){
    .wwa-content{
        flex-direction: column;
    }
    .wwa-box{
        margin-left: 0px;
        margin-top: 10px;
    }
    .wwa-box:first-child{
        margin-top: 0px;
    }
    
}

@media only screen and (max-width:600px){
    .nav-links{
         /* display: none; */
        position: absolute;
        flex-direction: column;
        background-color: var(--secondary-light);
        right: -35PX;
        top: 12vh;
        height: 50vh;
        width: 100%;
        padding: 1.5rem 0;
        transition: all 500ms;
    }

    .burger{
         display:block;
    }
    
}

.nav-show{
    width: 100%;
    right: 0px;               
}

.texthide{
    left:-15rem;
}